version: "3"

services:
  app:
    container_name: laravel_app
    build: ./docker/app
    environment:
      - DB_CONNECTION=mysql
      - DB_DATABASE=main
      - DB_USERNAME=user
      - DB_PASSWORD=password
      - DB_HOST=db
      - DB_PORT=3306
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - .:/var/www/html
    ports:
      - "9000:9000"
    depends_on:
      - db
      - redis
  nginx:
    container_name: laravel_nginx
    build: ./docker/nginx
    ports:
      - "8000:80"
      - "443:443"
    depends_on:
      - app
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./logs/nginx:/var/log/nginx
      - ./:/var/www/html
  db:
    container_name: laravel_db
    image: mysql:5.7
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=main
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_HOST=%
      - TZ=Asia/Tokyo
  redis:
    container_name: laravel_redis
    image: "redis:latest"
    ports:
      - "6379:6379"
